hr.dark {
    border-top: 1px solid lightGrey;
    margin: 0 !important;
}

header {
    z-index: 999;
}

@media (width < 62em) {

    .navSpacing {
        bottom: -168px;
        outline-style: solid;
        outline: white solid 3px;
    }

    .logo {
        height: 9vh;
    }

    .gallery-img {
        height: 150px;
        width: 250px;
        object-fit: cover;
    }

    body {
        background: url(../images/bg.webp);
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: scroll;
    }

    .header-styles {
        max-width: 1500px;
        min-height: 150px;
    }

    .overlayTop::before {
        content: "";
        z-index: 10;
        width: 100%;
        height: 20%;
        display: block;
        position: absolute;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0) 50%);
    }
}

/* Medium devices such as tablets (768px and up) */
@media (width > 62em) {

    .navSpacing {
        bottom: -218px;
        outline-style: solid;
        outline: white solid 3px;
    }

    .gallery-img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }

    body {
        background: url(../images/bg.webp);
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    .header-styles {
        max-width: 1500px;
        min-height: 400px;
    }

    .logo {
        width: 400px;
        height: 100px;
    }

    .overlayTop::before {
        content: "";
        z-index: 10;
        width: 100%;
        height: 50%;
        display: block;
        position: absolute;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0) 50%);
    }
}

.img-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.image {
    width: 100%;
}

.topleft {
    position: absolute;

    font-size: 20px;

    font-style: italic;

    color: white;

    top: 5px;

    left: 10px;
    z-index: 999;
}

.overlay::before {
    border-radius: 5px;
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 50%);
}

.extend-bg {
    background-color: white;
}

.button-container {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center; //both vertical and horizonal
    justify-content: center
}

.button {
    width: 100px;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 0;
    bottom: 0;
}
